body {
    padding-top: 65px;
    padding-bottom: 65px;
}

h1 {
    margin: 2em;
    font-weight: bold;
    color: rgb(18, 4, 74);
    font-size: 4em;
    letter-spacing: 1em;
}

.carousel-indicators li {
    width: 50px;
    height: 10px;
    border-radius: 10%%;
    margin: 5px;
}

.carousel-indicators li {
    background-color: rgb(207, 202, 202) !important;
    opacity: 0.5;
}
.carousel-indicators .active {
    background-color: rgb(207, 202, 202);
}

#carousel-div {
    padding: 3em;
}